body {
	margin: 0;
}

a {
	text-decoration: none;
}

/* ---------- Les TITRES ------------- */

h1 {

}

h2 {
	text-transform: uppercase;
}

/* ---------- text-align ------------- */

.text-center {
	text-align: center!important;
}

.text-left {
	text-align: left!important;
}

.text-right {
	text-align: right!important;
}
/* ---------- padding & margin ------------- */

.margin-auto {
	margin: auto;
}

.padding {
	padding: 1rem;
}

/* ---------- Colors ------------- */

.blue {
	background-color: #62ADFE!important;
}

.text-blue {
	color: #62ADFE!important;
}

.white {
	background-color: white!important;
}

.text-white {
	color: white!important;
}

.orange {
	background-color: #ff6d09!important;
}

.text-orange {
	color: #ff6d09!important;
}

.black {
	background-color: black!important;
}

.text-black {
	color: black!important;
}

/* ----------- Les buttons ---------- */

.button {
	text-transform: uppercase;
	color: white;
	padding: 7px;
	border-radius: 15px;
	border: transparent 1px solid;
	width: 25%;
	text-align: center;
	margin-top: 20px;
}



/* ---------- Les width et height ------------- */

.w-100 {
	width: 100%;
}

.w-95 {
	width: 95%;
}

.w-90 {
	width: 90%;
}

.w-85 {
	width: 85%;
}

.w-80 {
	width: 80%;
}

.w-75 {
	width: 75%;
}

.w-70 {
	width: 70%;
}

.w-60 {
	width: 60%;
}

.w-50 {
	width: 50%;
}

.w-45 {
	width: 45%;
}

.w-40 {
	width: 40%;
}

.w-35 {
	width: 35%;
}

.w-30 {
	width: 30%;
}

.w-25 {
	width: 25%;
}

.w-15 {
	width: 15%;
}

.w-10 {
	width: 10%;
}
/* ---- hauteur d'un bloc ---- */

.h-100 {
	height: 100vh;
}

.h-75 {
	height: 75vh;
}

.h-50 {
	height: 50vh;
}

.h-40 {
	height: 40vh;
}

.h-35 {
	height: 35vh;
}

.h-25 {
	height: 25vh;
}

.h-20 {
	height: 20vh;
}

/* ----------- Les FLEX ---------- */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex-sb {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flex-sa {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

/* --------- Header, nav, section, footer ----------- */

header {
	background-color: rgba(98,173,254,0.7);
	width: 100%;
	height: 15vh;
	position: fixed;	
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
}

nav {
	display: flex;
	justify-content: flex-end;
	width: 95%;
	height: 100%;
}

nav ul {
	display: flex;
	width: 80%;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	text-transform: uppercase;
}

nav ul li {
	border-radius: 15px;
	border: 2px white solid;
	padding: 7px;
	color: white;
	width: calc(80%/6);
	text-align: center;
}

.nav_btn_inscription {
	background-color: white;
}

.nav_btn_inscription a {
	color: #62ADFE;
}

.nav_btn_inscription a:visited {
	color: #62ADFE;
}

header a {
	color: white;
	font-size: 0.8rem;
}

header a:visited {
	color: white;
}

/* ----------- Home ---------- */

.home_section_lsf {
	background: url('../images/home_section_lsf.jpg');
	background-position: center;
	background-size: cover;
}

.home_text_section_lsf {
	width: 50%;
}

.bulle {
	border: 1px transparent solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: black;
}

.bulle_avis {
	border: 2px #ff6d09 solid;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #ff6d09;
}

.avis {
	border: 1px transparent solid;
	border-radius: 15px;
	width: 100%;
	background-color: white;
}

